doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Document
  link(rel='stylesheet', href='/styles/style.css')
header DANH S&Aacute;CH KH&Aacute;M NG&#x1AF;&#x1EDC;I CAO TU&#x1ED4;I
.content
  form(action='/add', method='post')
    .form-group
      label(for='') H&#x1ECD; V&agrave; T&ecirc;n
      input#txtTen(type='text', name='txtTen')
    .form-group
      label(for='') N&abreve;m Sinh
      input#txtxNamSinh(type='text', name='txtNamSinh')
    .form-group
      label(for='') &Dstrok;&#x1ECB;a Ch&#x1EC9;
      input#txtDiaChi(type='text', name='txtDiaChi')
    .form-group
      label(for='') X&atilde;
      input#txtXa(type='text', name='txtXa')
    button Th&ecirc;m
    button Xem Danh S&aacute;ch
  .table
    .row.header
      .cell
        | H&#x1ECD; V&agrave; T&ecirc;n
      .cell
        | N&abreve;m Sinh
      .cell
        | &Dstrok;&#x1ECB;a Ch&#x1EC9;
      .cell
        | X&atilde;
      .cell
        | Ng&agrave;y Kh&aacute;m
      .cell
          Ghi Chú
    each user in users
      .row
        .cell(data-title='HoTen')= user.HoTen
        .cell(data-title='NamSinh')= user.NamSinh
        .cell(data-title='DiaChi')= user.DiaChi
        .cell(data-title='Xa')= user.Xa
        .cell(data-title='NgayKham')= user.NgayKham
        .cell(data-title='GhiChu')= user.GhiChu
footer
